.section-main {
    height: 100vh;
    display: flex;
    align-items: center;
    user-select: none;
}

.content {
    width: 20%;
    margin: 0 40%;
}

.section-main img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transform: translateX(-100%);
    transition: .8s ease-out;
}

.section-main h1 {
    font-size: 50px;
    transition: .5s ease-out;
    transform: translateY(-100%);
    color: white;
}

.section-main h2 {
    font-size: 23px;
    font-weight: 500;
    transition: .8s ease-out;
    transform: translateY(100%);
    color: white;
}

.line {
    margin-top: 20px;
    width: auto;
    height: 6px;
    border-radius: 4px;
    background-color: white;
    transform: translateX(-100%);
    transition: 6s ease-out;
}

.section-main img.-animated {
    transform: translateX(5%);
}

.line.-animated {
    transform: translateX(0);
}

.section-main h1.-animated,
.section-main h2.-animated {
    transform: translateY(0);
}

.title, .subtitle, .photo, .progress {
    overflow: hidden;
}

/*Particle*/

canvas {
    position: absolute;
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    background-size: cover;
    transition: 1s ease-out;
}